exclude:
  - _db
  - _plugins
  - .gitignore
plugins:
  - jekyll_sqlite
  - jekyll-datapage-generator
default:
  - scope: 
      type: product
    values:
      PLEASE: HELLO
page_gen:
- data: products
  template: product
  page_data_prefix: product
  title: ProductName
  name: ProductID
  extension: html
- data: customers
  template: customer
  page_data_prefix: customer
  title: CompanyName
  name: CustomerID
  extension: html
sqlite:
  - data: orders
    file: &db "_db/northwind.db"
    query: SELECT * from Orders

  - data: customers
    file: *db
    query: SELECT * from Customers
  
  - data: employeeOfTheMonth
    file: *db
    query: SELECT * FROM Employees WHERE EmployeeID = 3
  
  - data: products
    file: *db
    query: SELECT * from Products

  - data: categories
    file: *db
    query: SELECT CategoryID, CategoryName, Description FROM Categories

  - data: categories.products
    file: *db
    query: SELECT ProductID,  ProductName ,CategoryID FROM Products WHERE Products.CategoryID=:CategoryID

  - data: featured.product
    file: *db
    query: SELECT * FROM Products WHERE ProductID = :ID

  - data: regions
    file: *db
    query: SELECT RegionID, RegionDescription FROM Regions ORDER BY RegionID
  
  - data: regions.territories
    file: *db
    query: |
      SELECT TerritoryID, TerritoryDescription FROM Territories 
      WHERE RegionID = :RegionID
      ORDER BY TerritoryDescription
  
  - data: regions.territories.employees
    file: *db
    query: |
      SELECT T.EmployeeID as EmployeeID, FirstName,LastName FROM EmployeeTerritories T,Employees
      WHERE T.TerritoryID = :TerritoryID
      AND T.EmployeeID = Employees.EmployeeID